alabaster==0.7.16
alembic==1.13.1
amqp==5.2.0
astmonkey==0.3.6
Babel==2.14.0
beautifulsoup4==4.12.3
billiard==4.2.0
blinker==1.7.0
boto3==1.34.75
botocore==1.34.75
bytecode==0.15.1
celery==5.3.6
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
commonmark==0.9.1
config==0.5.1
cryptography==42.0.5
diagrams==0.23.4
docutils==0.20.1
Flask==3.0.2
Flask-Autodoc==0.1.2
Flask-Cors==4.0.0
flask-redis==0.4.0
Flask-SQLAlchemy==3.1.1
graphviz==0.20.3
gunicorn==20.1.0
idna==3.6
imagesize==1.4.1
iniconfig==2.0.0
itsdangerous==2.1.2
jellyfish==0.11.2
Jinja2==3.1.3
jmespath==1.0.1
kombu==5.3.5
Mako==1.3.2
MarkupSafe==2.1.5
MutPy-Pynguin==0.7.1
mypy-extensions==1.0.0
mysql-connector-python==8.3.0
networkx==2.8.8
numpy==1.26.4
ordered-set==4.1.0
packaging==24.0
pandas==2.2.1
pluggy==1.4.0
prompt-toolkit==3.0.43
pycparser==2.21
pydot==1.4.2
Pygments==2.17.2
PyMySQL==1.1.0
pynguin==0.19.0
pyparsing==3.1.2
pytest==7.4.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
redis==5.0.3
requests==2.31.0
rich==12.6.0
s3transfer==0.10.1
setuptools==69.2.0
simple-parsing==0.0.18
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
SQLAlchemy==2.0.28
termcolor==2.4.0
typed_ast==1.5.5
typing-inspect==0.9.0
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.0.1
cryptography==42.0.5
Flask-Migrate==4.0.7
